.dailymotion{
	overflow: hidden!important;
}

.dailymotion #cabecera{
	z-index: 10;
	padding: 10px;
	height: 60px;
	position: relative;
	top: 0px;
	left: 0px;
	border-bottom: solid 1px #333;
	width: calc(100% - 20px);
	background-color: #0064E0;
}
.dailymotion #contentVideo{
	height: calc(100% - 81px);
	overflow: auto;
	width: 100%;
}
.dailymotion #search_input{
	position: relative;
	top: -17px;
	height: 40px;
	width: 50%;
	border: solid 1px #c2ccd1;
	border-radius: 5px;
	font-size: 18px;
}
.dailymotion #btnSearch{
	width: 90px;
	position: relative;
	top: -19px;
	height: 40px;
	height: 40px;
	border: solid 1px #c2ccd1;
	border-radius: 5px;
	background-color: white;
}
.dailymotion #btnSearch:hover{
	background-color: #0064E0;
	color: white;
	font-weight: bolder;
}
.dailymotion .btnCloseVid{
	background-color: #c2ccd1;
	color: #333;
	border: #c2ccd1 1px solid;
	padding: 2px 5px;
	border-radius: 5px;
	text-decoration: none;
}
.dailymotion .btnCloseVid:hover{
	color: white;
	background-color: #c8312b;
	border-color: white;
}
.dailymotion #cajaVideos{
}
.dailymotion #result{
	width: 100%;
	background-color: white;
}
.dailymotion td{
	vertical-align: top;
}
.dailymotion .miniatura{
	width: 196px;
	height: 120px;
}
.dailymotion .logo{
	cursor: pointer;
	width: 200px;
}
.dailymotion td img{
	width: 64px;
	height: 48px;
}
.dailymotion .trDl{
	height: 10%;
}