.googleApp{
	background-color: #DAE0E5;
}

.googleApp .page{
	height: 100%;
	width: 100%;
	overflow: hidden;
}
.googleApp iframe{
	display: none!important;
}
.googleApp .search-style{
	padding: 20px!important;
}
.googleApp .midPage{
	height: 100%;
	width: 100%;
	overflow: auto;
	position: absolute;
}
.googleApp input[type='text']{
	
}